AWS_ACCESS_KEY_ID = "ABCDEFG..."
AWS_SECRET_ACCESS_KEY = "abcdefg..."
AWS_REGION = "us-east-1"

FROM_EMAIL = "hey@crazyoptimist.net"
REPLY_TO_EMAIL = "hey@crazyoptimist.net"
EMAIL_SUBJECT = "Amazon SES Test (AWS SDK for Go)"
EMAIL_TEXT_BODY = "Hi there!

Good things come to those who wait.
Whatever the mind can conceive and believe, it can achieve.
Believing is achieving.
Fortune favors the bold.
Keep on asking, and you will receive what you ask for. Keep on seeking, and you will find. Keep on knocking, and the door will be opened to you.

This email was sent with Amazon SES using the AWS SDK for Go."
